body{
  height: 100vh;
};

.container{ /* main body */
  display: flex;
  flex-wrap: wrap;
}

#header{
  display: flex;
  width: 95%;
  padding-left:40%;
  background-color: rgba(230, 242, 255, 0.5);
  border: 3px ridge #cce6ff;
  border-radius: 5px;
}

.box-large{
  background-image: linear-gradient(to bottom right, green, #b3fff0);
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 60%;
  padding-left: 15%;
  background-color: rgba(230, 242, 255, 0.5);
  border: 3px ridge #cce6ff;
  border-radius: 5px;
}

.box-med{
  background-image: linear-gradient(to bottom right, green, #b3fff0);
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 75%;
  margin-left: 10%;
  padding-left: 5%;
  padding-bottom: 25px;
  border: 2px groove #cce6ff;
  border-radius: 5px;
  background-color: rgba(230, 242, 255, 0.5);
}

.text{
  font-size: 1.5rem;
}

a{
  padding: 1.2rem;
  font-size: 1.4em;
}
a:hover{
  color: red;
}
a:visited{
  color: blue;
}
a{
  color: green;
}

h1{
  text-align: center;
}

footer{
  height:auto;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

.footer-contents{
  background-image: linear-gradient(to bottom right, green, #b3fff0);
  background-attachment: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 95%;
  border: 2px groove #cce6ff;
  border-radius: 5px;
  background-color: rgba(230, 242, 255, 0.3);
  height:24px;
  width: 1000px;
  margin:auto;
}

.todo-item{
  position: relative;
  font-size: 1.25em;
}

.todo-item > button{
  position: absolute;
  right: 0;
}

.todo-item > checkbox{
  margin-right: 5%;
  min-width: 30px;
  min-height: 30px;
}

.interface{
  background-image: linear-gradient(to bottom right, green, #b3fff0);
  background-attachment: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75%;
  margin-left: 10%;
  padding-left: 5%;
  padding-bottom: 25px;
  border: 2px groove #cce6ff;
  border-radius: 5px;
  background-color: rgba(230, 242, 255, 0.5);
  font-size: 1.5rem;
}

.interface > button{
  font-size: 20px;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  min-width: 20%;
}
